@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer{
    background-color: v.$rosa;
    text-align: center;
    padding: 1rem;
    p{
        color: v.$blanco;
        font-weight: 700;
    }
    @include m.telefono{
        span{
            font-size: 4rem;
            display: block;
            font-weight: 800;
        }
    }
}  